<footer class="fixed-bottom bg-light">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
            <button type="button" class="btn btn-primary " [routerLink]="['/startseite']" ><i class="bi bi-house"></i></button>

        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-primary " [routerLink]="['/einstellungen']" ><i class="bi bi-gear-wide-connected"></i></button>

        </li>
      </ul>
    </div>
  </footer>
  